.jumbotron {
    position: relative;
    text-align: center;
    color: black;
    padding-left: 0;
    padding-right: 0;
}

.bgpic {
    background-image: url("http://java.codeup.com/examples/bootstrap/pizza.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.badge-light {
    color: white;
    background-color: #939393;
}


h1 {
    text-align: center;
    background-color: white;
    opacity: 0.5;
    width: 100%;
}

.bgblue {
    background-color: #D5EEF8;
}

.float {
    float:right;
}

.card-footer {
    border: 1px #DFDFDF;
}

.header{
    margin-left:5px;
    width:100%;
}