.jumbotron {
    position: relative;
    text-align: center;
    color: black;
}

.bgpic {
    background-image: url("http://java.codeup.com/examples/bootstrap/pizza.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.badge-light {
    color: white;
    background-color: #939393;
}

/*.card-header {*/
    /*background-color: #0F6CFF;*/
    /*color: white;*/
/*}*/

h1 {
    text-align: center;
    background-color: white;
    opacity: 0.6;
    width: 100%;
}

/*div.card-header {*/
    /*color: white;*/
    /*background-color: #0F6CFF;*/
/*}*/

.float {
    float:right;
}

.card-footer {
    border: 1px #DFDFDF;
}