.card-group {
    width: 85%;
    text-align: center;
    margin: 0 auto;
}
body {
    background-color: #A2DCFF;
    margin-left: 15px;
}
.form-group {
    width: 80%;
    margin: 0 auto;
}
.btn {
    width: 100%;
    margin: 0 auto;
}

#map-canvas {
    width: 80%;
    height: 400px;
    margin: 0 auto;
    text-align: center;
}
.row {
    width: 85%;
    margin: 0 auto;
}
.col {
    text-align: center;
}