section {
    background-color: beige;
}

h1,
.fancy-header { /*multiple selector */
    color: purple;
}

.fancy-header {
    color: purple;
    text-decoration: underline;
    background-color: brown;
}

#main-title {
    background-color:aqua;
}